@import "bootstrap/scss/bootstrap";


@font-face {
  font-family: 'Lato Regular';
  src: url("./assets/fonts/Lato-Regular.ttf");
}

.main-content {
  max-height: 90vh;
}

.selector {
  cursor: pointer;
}

.account-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.account-detail {
  font-family: "Lato Regular",serif;
  font-size: 32px;
}