@import "bootstrap/scss/bootstrap";


@font-face {
  font-family: 'Lato Regular';
  src: url("./assets/fonts/Lato-Regular.ttf");
}

body {
  font-family: "Lato Regular",serif;
}

.main-content {
  position: fixed;
  top: 3.5rem;
  bottom: 4rem;
  width: 100%;
  overflow: auto;
}

.no-header {
  top: 0;
}

.selector {
  cursor: pointer;
  user-select: none;
}

.account-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-item-text {
  font-size: 32px;
}

.card {
  border-radius: 0;
}

body {
  overscroll-behavior-y: none;
}